// FONT FAMILY ==================

$default-font 		: "Roboto",sans-serif;
$default-style  	: normal;
$default-weight 	: 400;

$text-font 			: georgia,"times new roman",times,serif;
$text-style  		: normal;
$text-weight 		: 300;

$heading-font		: "Montserrat",sans-serif;
$heading-style  	: normal;
$heading-weight 	: 700;

$highlight-font		: "Roboto",sans-serif;
$highlight-style  	: italic;
$highlight-weight 	: 500;

$code-font			: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$code-style  		: normal;
$code-weight 		: 400;

$button-font		: "Montserrat",sans-serif;
$button-style		: normal;
$button-weight		: 600;



// FONT WEIGHT ==================

$fthin	 		: 100;
$flight 		: 300;
$fbook 			: 400;
$fmedium		: 500;
$fbold			: 600;
$fheavy			: 700;
$fblack 		: 900;



// GLOBAL LETTER SETTINGS =======

$letter-spacing: -0.015em;
$letter-spacing-small: -0.025em;