.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	right: 0; // if alignright is used in combination with aligncenter mixin
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}